{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}


{% block main %}
<div class="roW m-lg-5">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">{{pitch.title}}</div>
        </div>
        <div class="card-body">
            {{pitch.content}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">

        {% for comment in comments %}
        Posted on: {{comment.posted.strftime("%d %b %Y")}}
        <div class="card">
            {{comment.comment}}
        </div>
        <br>
        {% endfor %}

    </div>
</div>
<div class="row m-lg-4">
    <div class="col-md-6">
        {{wtf.quick_form(form)}}

    </div>
</div>
{% endblock main %}