{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}


{% block main %}
<div class="row m-lg-5">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">{{pitch.title}}</div>
        </div>
        <div class="card-body">
            {{pitch.content}}
        </div>
    </div>
</div>
<div class="row">

    {% for comment in comments %}
    <div class="col-md-3 m-lg-1"></div>
    Posted on: {{comment.posted.strftime("%d %b %Y")}}
    <div class="card">
        {{comment.comment}}
    </div>
    <br>
    {% endfor %}
</div>

<div class="row m-lg-4">
    <div class="col-md-6">
        {{wtf.quick_form(form)}}

    </div>
</div>
{% endblock main %}